<div class="main-container">
    <div class="responsive_header">
        <app-header></app-header>
      </div>
    <div class="main-content">
        <div class="wealth-summary-img">
            <img src="../../../assets/Group 1097.svg" />
        </div>
        <div class="main-content-right">
            <p>Invest in mutual funds easily!</p>
            <p>Algorithmically selected mutual funds to <br>
                grow your money, and meet your life goals</p>
            <p class="contents">Get started</p>
        </div>
    </div>
    <div class="responsive_wealth">
        <app-wealth-container></app-wealth-container>
    </div>
    <div class="main-content-bottom">
        <div class="main-content-top">
            <div class="items item1">
                <h3>Investments</h3>
                <p>82.05 L</p>
            </div>
            <div class="items">
                <h3>Insurance</h3>
                <p>Coming Soon</p>
            </div>
            <div class="items">
                <h3>Insurance</h3>
                <p>Coming Soon</p>
            </div>
        </div>
        <div class="middlelist">
            <div class="list">
                <div class="listnames">
                    <img src="../../../assets/Group 705.svg" />
                    <h3>Mutual Funds</h3>
                </div>
                <div class="lists">
                    <div class="lists_values">
                        <p>40.20 L</p>
                        <p class="list_data">+5.01 L</p>
                    </div>
                    <div style="display: flex;align-self: center;">
                        <img src="../../../assets/Chevron_Right_Large.svg" style="width: 36px;height: 36px;"/>
                    </div>
                </div>
            </div>
            <hr>
            <div class="list">
                <div class="listnames">
                    <img src="../../../assets/Group 824.svg" />
                    <h3>Insurance</h3>
                </div>
                <div class="lists">
                    <div class="lists_values">
                        <p>40.20 L</p>
                        <p class="list_data">+5.01 L</p>
                    </div>
                    <div style="display: flex;align-self: center;">
                        <img src="../../../assets/Chevron_Right_Large.svg"style="width: 36px;height: 36px;" />
                    </div>
                </div>
            </div>
            <hr>
            <div class="list">
                <div class="listnames">
                    <img src="../../../assets/Group 1073.svg" />
                    <h3>Stocks</h3>
                </div>
                <div class="lists">
                    <div class="lists_values">
                        <p>40.20 L</p>
                        <p class="list_data">+5.01 L</p>
                    </div>
                    <div style="display: flex;align-self: center;">
                        <img src="../../../assets/Chevron_Right_Large.svg" style="width: 36px;height: 36px;"/>
                    </div>
                </div>
            </div>
            <hr>
            <div class="list">
                <div class="listnames">
                    <img src="../../../assets/Group 1074.svg" />
                    <h3>Real Estate</h3>
                </div>
                <div class="lists">
                    <div class="lists_values">
                        <p>40.20 L</p>
                        <p class="list_data">+5.01 L</p>
                    </div>
                    <div style="display: flex;align-self: center;">
                        <img src="../../../assets/Chevron_Right_Large.svg" style="width: 36px;height: 36px;"/>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="bottomlist">
            <div class="flag">
            <img src="../../../assets/Group 718.svg" class="img1"/>
            </div>
            <p style="color: #F58024; font-size: 14px; font-weight: 700;margin-left: 13px;">Invest now</p>
            <img src="../../../assets/Group 1043.svg" class="img"/>
        </div>
    </div>
</div>