<div class="sidebar">
    <div class="sidebar-menu">
        <img src="../../../assets/Group 638.svg" />
        <span class="menu">Home</span>
    </div>
    <div class="sidebar-menu">
        <img src="../../../assets/Group 633.svg">
        <span class="menu">My wealth</span>
    </div>
    <div class="sidebar-menu">
        <img src="../../../assets/wealth_icon.svg" />
        <span class="menu">Invest</span>
    </div>
    <div class="sidebar-menu">
        <img src="../../../assets/Vector4.svg" />
        <span>Profile</span>
    </div>
    <div class="sidebar-menu">
        <img src="../../../assets/Vector3.svg"/>
        <span>More</span>
    </div>
</div>