.wealth {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    background-color: white !important;
    justify-content: space-around;
  }
  .date {
    width: 64.66px;
    height: 71.333px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #eee;
    background: #fff;
    color: #d3d3d3;
    text-align: center;
    font-family: "Lato";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .decription {
    color: rgba(0, 0, 0, 0.86);
    font-family: "Lato";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }