.sidebar {
    background-color: #ffffff;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 253px;
    row-gap: 2.5rem;
  }

  .sidebar-menu{
    display: flex;
    justify-content: space-between
  }

  .sidebar-menu img{
    margin-left: 3rem;
  }
  
  .menu {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    width: 158px;
    height: 16px;
  }

  
  .icon {
    margin-right: 10px;
  }
  
  .profile {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .btn{
    border: none;
    width: 89px;
    height: 26px;
    margin-left: 82px;
    margin-top: 30px;
    background-color: #D9D9D9;
    ;
  }

  .profile-top{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    img{
      margin: auto;
    }
  }

  @media screen and (max-width:376px) {
    .sidebar-menu{
      display: none;
    }
    .btn{
      width: 25px;
      height: 26px;
      margin-left: 0px;
      margin-top: 5px;
    }
    .profile-bottom{
      display: none;
    }

    .sidebar{
      row-gap: 0.5rem;
      padding: 0px;
      background-color: #fff4e9;
      width: 100%;
    }
  }
  