<div class="sidebar">
  <div>
    <button class="btn"></button>
  </div>
  <div class="sidebar-menu">
    <img src="../../../assets/Group 638.svg" />
    <span class="menu">Home</span>
  </div>
  <div class="sidebar-menu">
    <img src="../../../assets/Group 633.svg">
    <span class="menu">My wealth</span>
  </div>
  <div class="sidebar-menu">
    <img src="../../../assets/wealth_icon.svg" />
    <span class="menu">Invest</span>
  </div>
  <div class="sidebar-menu">
    <img src="../../../assets/Group 620.svg" />
    <span class="menu">Wisdom</span>
  </div>
  <div class="sidebar-menu">
    <img src="../../../assets/Group 637.png" />
    <span class="menu">Reports</span>
  </div>
  <div class="sidebar-menu">
    <img src="../../../assets/Group 621.svg" />
    <span class="menu">Income tax filing</span>
  </div>
  <div class="sidebar-menu">
    <img src="../../../assets/Medium.svg" />
    <span class="menu">Refer a friend</span>
  </div>
  <div class="sidebar-menu">
    <img src="../../../assets/Fill 70.svg" />
    <span class="menu">About</span>
  </div>
 <hr>
  <div class="profile">
    <div class="profile-top">
      <img src="../../../assets/Frame 1219.svg" alt="Profile" class="profile-img" />
      <span>Joy Lobo</span>
    </div>
    <div class="profile-bottom">
      <img src="../../../assets/Vector1.svg" />
    </div>
  </div>

</div>